html {
  min-height: 100%;
  position: relative;
}
.bor {
  border: 2px solid rgba(0,0,0,.10);
}
body {
  background-color: #fbfbfe;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin: 0;
  margin-bottom: 40px;
  padding-bottom: 100px;
}
.mar{
  color: black;
  background-color: #fbfbfe;
}
.TI {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #032236;
  font-size: 150%;
}
.TI2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #032236;
  font-size: 150%;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}
li{
  float: left;
}
li a {
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: inherit;
  color:#123852;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #708FA3;
}
table {
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  border: 2px solid rgba(0,0,0,.6);
}
td {
  padding-bottom: 10px;
}
input{
  border: 1;
  outline: none;
}
.field{
  border: 1px solid #ccc;
  padding: 8px;
  width: 220px;
  margin-bottom: 8px;
}
.field:focus{
  border-color: #032236;
}
.center{
  text-align: center;
}
.btn{
  border-radius: 5px;
  display: inline-block;
  padding: 20px 15px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255,0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  color: white;
  background-color: #032236;
  width: 280px;
  margin-top: 20px;
  text-align: center;
}
.formulario table label {
  color: #032236;
}
.orden table {
  margin-left: auto;
  margin-right: auto;
}
.cuerpo{
  margin-left: 100px;
  margin-right: 100px; 
  margin-top: 75px;
  margin-bottom: 25px;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  background-color: white;
  color: black;
  border: 2px solid rgba(0,0,0,.10);
  border-radius: .60rem;
}
footer {
  background-color: #032236;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 145px;
}
